@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 170, 0, 0.3333333333);
}

.bs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bs #reset {
  border: none;
  width: 100px;
  height: 40px;
  background-color: #f7f7f7;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.bs #reset:hover {
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.bs #reset:active {
  transition: 0.1s;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.bs .b_body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  border: thick double black;
  background-color: #ccc;
}
.bs .b_body .s_body {
  display: flex;
  width: 600px;
  height: 600px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
.bs .b_body .s_body .true_loc {
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: solid 1px #333;
  font-size: 36px;
  padding: 5px;
}
.bs .b_body .s_body .true_loc .play_loc {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #0af;
  transition: 0.3s;
  background-size: cover;
  color: transparent;
}
.bs .b_body .s_body .true_loc .play_loc:hover {
  cursor: pointer;
  filter: brightness(110%);
}
.bs .b_body .s_body .true_loc .play_loc.active {
  filter: brightness(50%);
}
.bs .b_body .s_body .true_loc .play_loc_none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #ccc;
  transition: background-color 0.3s;
}
.bs .b_body .s_body .true_loc .play_loc_none:hover {
  cursor: pointer;
  background-color: #777;
}